@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700&display=swap');

$family-sans-serif: "Montserrat", sans-serif;
$navbar-breakpoint: 0px;

@import "../node_modules/bulma/bulma.sass";

html {
	overflow: hidden;
}
